@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i');

/* generic style */

  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  a {
    color: #ea7710;
    text-decoration: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    display: inline-block;
  }

  a:hover, a:focus {
    color: #FFBA00;
  }

  a:active {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
  }

  .content {
    text-align: center;
  }

  hr {
    margin-top: 0;
  }

  h1 {
    margin-top: 0;
  }

/* end generic style */

/* nav/footer style */

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    padding: 0 15px 0 0;
  }

  .navbar-default {
    background-image: none;
    box-shadow: 0px 0px 0px #fff;
    border-radius: 0px;
    background-color: #f4f4f4;
    padding: 0 10px;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: none;
    box-shadow: 0px 0px 0px #fff;
  }

  footer a.fb > svg > path {
    fill: #a5a5a5;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
  }

  footer a.fb:hover > svg > path {
    fill: #454547;
  }

  @media (max-width: 370px) {

    .navbar-brand {
      width: 220px;
    }

  }

/* end nav/footer style */

/* button style */
  .big-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 14px;
    margin: 0 0 15px;
    widows: auto; 
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.1))), /* dark outside gradient */ -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(210, 210, 210, 0.3)), color-stop(20%, rgba(210, 210, 210, 0)), color-stop(80%, rgba(210, 210, 210, 0)), color-stop(100%, rgba(210, 210, 210, 0.3))), /* light inner gradient */ -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0.3)), color-stop(80%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    line-height: 1em;
    padding: 0.7em 1.7em;
    color: #fff;
    background-color: #FFBA00;
    -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
    box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 6px 0px 0px #C38E00, 0px 10px 6px -1px #A1A1A1;
    font-size: 24px;
    font-weight: 900;
    border: none;
  }
  .big-button:hover {
    transform: translate3d(0, 2px, 0);
    -ms-transform: translate3d(0, 2px, 0);
    -webkit-transform: translate3d(0, 2px, 0);
    color: #fff;
    text-decoration: none;
    -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
    box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 4px 0px 0px #C38E00, 0px 7px 6px -1px #A1A1A1;
  }
  .big-button:active {
    transform: translate3d(0, 6px, 0);
    -ms-transform: translate3d(0, 6px, 0);
    -webkit-transform: translate3d(0, 6px, 0);
    -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
    box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3), 0px 2px 0px 0px #C38E00, 0px 3px 6px -1px #A1A1A1;
  }
/* end button style */

/* home style */

  .home {
    background-image: url('images/office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }

  .home h1 {
    width: 989px;
    margin: 0 auto;
    display: block;
  }

/* end home style */

/* products style */

  .products {
    padding: 40px 0;
  }

  .products > p {
    max-width: 800px;
    margin: 0 auto;
  }

  .products .ebay-list .row {
    margin-top: 2em;
  }

  .products .ebay-list .row > div:first-of-type {
    text-align: right;
  }

  .products .ebay-list .row > div:last-of-type {
    text-align: left;
  }

  .products .ebay-list h2 {
    font-size: 18px;
    margin-top: 0;
  }

  .products .ebay-list p {
    margin-bottom: 0;
  }

  .products .ebay-list .category {
    color: #888;
  }

  .products .ebay-list .price {
    font-size: 18px;
    font-weight: 700;
  }

  .products .big-button {
    margin-top: 20px;
  }

  @media (max-width: 992px) {

    .products .ebay-list h2 {
      margin-top: 1em;
    }

    .products .ebay-list .row > div:first-of-type {
      text-align: center;
    }

    .products .ebay-list .row > div:last-of-type {
      text-align: center;
    }

  }

/* end products style */

/* contact style */

  .contact.container {
    max-width: 400px;
    margin: 40px auto;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #e7e7e7;
  }

  .contact .help-block {
    text-align: left;
  }

  .contact form {
    padding: 30px 0;
  }

  @media (max-width: 992px) {

  }

/* end contact style */
